# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/

# 환경
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# 기타
*.md
LICENSE
coverage/
